---
import { Icon } from 'astro-icon';
import links from "../links.json";
import "../css/simple.min.css";
import "../css/custom.css";
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>koyu.space Links</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
  </head>
  <body>
    <h1>koyu.space Links</h1>
    <div class="center">
      <table>
        <tbody>
          {links.map((e) => (
            <tr>
              <td><a href={e.url} class="social" target="_blank" rel="noopener"><Icon pack={e.icon.style} name={e.icon.name} /></a></td>
              <td><a href={e.url} target="_blank" rel="noopener">{e.name}</a></td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
    <p><b>Note:</b> Webmail and cloud are re-<br>served for internal use only.</p>
    <footer>
      <a href="javascript:history.back()">&larr; Back to koyu.space</a><br><br>
      <img src="https://0x0.st/oY_M.svg" style="height:32px;margin-left:24px;">
    </footer>
  </body>
</html>

